html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
  }

body {
    background-color: ivory;
}

.nav-container {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: white; /* Change nav bar text colour. Choose a different font */
}

.nav-container:hover {
    background-color: rgb(11, 11, 11);
    opacity: 0.7;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    padding-top: 15px;
}


.title {
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}

.wrapper {
    position: relative;
    display: flex;
    min-width: 10px;
    align-items: center;
    justify-content: center;
    color: black;
    padding-top: 13px;
}
/* Search bar */
.wrapper input::placeholder,
.wrapper input {
    color: transparent;
}


.wrapper:hover input::placeholder,
.wrapper:hover input {
    color: rgb(63, 62, 62);
    padding-left: 5px;
}
.search-bar {
    border: 1px solid grey;
    border-radius: 5px;
    height: 28px;
    width: 30px;
    padding: 2px;
}

ion-icon {
    position: absolute;
    right: 7px;
    width: 17px;
    opacity: 0.75;
    cursor: pointer;
}
.search-bar:hover {
    width: 20vw;
    color: black;
    transition: 0.5s;
}

h1 {
    margin-top: 100px;
    text-align: center;
}

/* Moving background image*/
.background-img {
    background-image: url(switzerland.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 830px;
    position: relative;
    animation: motion 50s linear infinite alternate;
    box-shadow: none;
    background-size: cover;
}
.background-img-1 {
    background-image: url(switzerland-autumn.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 830px;
    position: relative;
    animation: motion 50s linear infinite alternate;
    box-shadow: none;
    background-size: cover;
}
.background-img-2 {
    background-image: url(switzerland-glacier.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 830px;
    position: relative;
    animation: motion 50s linear infinite alternate;
    box-shadow: none;
    background-size: cover;
}
.background-img-3 {
    background-image: url(switzerland-glacier3000.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 830px;
    position: relative;
    animation: motion 50s linear infinite alternate;
    box-shadow: none;
    background-size: cover;
}
.background-img .background-img-1 .background-img-2 .background-img-3::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  .background-img .background-img-1 .background-img-2 .background-img-3 > * {
    position: relative;
    z-index: 10;
  }
  
  .moving-img {
    animation: motion 0.5s linear infinite alternate;
    background-size: cover;
    position: relative;
    box-shadow: none;
  }
  
  @keyframes motion {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }

/* Tourist map of switzerland */
.map-img-div {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.map-img {
    width: 80%;
    height: 750px;
}


/* popular cities / areas section */
.top-destination {
    margin-top: 70px;
    margin-bottom: 50px;
}

.city-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* can remove this */
}

.city {
    position: relative;
    display: block;
    width: 400px;
    height: 430px;
}

.img-container {
    margin-bottom: 10px;
    margin-left: 10px;
}

.img-overlay {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-size: 'Arial', sans-serif; 
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s;
}

.img-overlay > p { 
    transform: translateY(20px);
    transition: transform 0.25s;
}

.img-overlay:hover {
    opacity: 1;
}

.img-overlay:hover > p {
    transform: translateY(0);
}

.img-text {
    font-size: 2em;
}
.img-container:hover {
    transform: scale(0.99);
    transition: ease-in;
}

@media (max-width: 800px) {
    .map-img {
        width: 80vw;
        height: 400px;
    }
    .city {
        width: 200px;
        height: 215px;
    }
    
}