/* Nav-bar for page 2*/

.nav-bar-text {
  margin-right: -110px;
}
.nav-bar-text > a {
  color: black;
}

.nav-container:hover {
  background-color: transparent;
}


/* Search button for page 2*/
.openButton2 {
    color: black;
    border: none;
    background-color: transparent;
    padding-top: 19px;
}

.openButton2 > ion-icon {
  color: black;
  font-size: 20px;
}

.icon2 {
    color: black;
    font-size: 20px
 }

 .centre {
     text-align: center;
 }

 .container-fluid {
     align-items: center;
 }

 .headerfont {
     font-family: 'Koulen', cursive;
     font-size: 100px;
 }

 .headerfont h1 {
   margin-top: 150px;
 }

 .margin-section {
   margin-top: -100px;
 }

 /* slideshowpage2 */
 * {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container2 {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 5px 12px;
  position: absolute;
  top: 0;
}



/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 10px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  height: 150px;
}

.active,
.demo:hover {
  opacity: 1;
}
